.pop-up {
  margin: auto;
  width: 80%;
  height: 80vh;
  border: 3px solid black;
  border-radius: 30px;
  background-color: #bbd5f8;
  color: #122b44;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 2rem;
  line-height: 2.5rem;

  form {
    input {
      font-size: 1.2rem;
      height: 2.5rem;
      margin-right: .5rem;
      padding: 0 10px;
    }
  }

}
