.choose-instructions {
  margin: 5rem auto;
  text-align: center;
}

.picture-choices {
  display: grid;
  grid-template-columns: auto auto;

  img {
    height: 12rem;
    display: block;
    border: 4px solid black;
    margin: 1rem auto;
  }
}
