.header {
  position: fixed;
  top: 0;
  height: 9.5vh;
  line-height: 9.5vh;
  width: 100%;
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    .hidden {
      display: none;
    }
  }
}
